body {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    margin: 50px auto;
    background-image: url(../images/sox.jpeg);    
    background-repeat: no-repeat;
    background-size: 100% 180%;    
}

.gameHead {    
    width: 50%;
    margin: auto;
}

.gameBody {
    background-color: white;
    width: 30%;
    margin: auto;
    opacity: .85;
    height: 400px;
    border-radius: 15px;
    border: 10px solid black;
}

h1 {
    font-size: 100px;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 30px;
}

h4 {
    font-size: 50px;   
}

.winLoss {
    margin-top: 100px;
    float: left;
}

#wins {
    color: green;
}

#losses {
    color: red;
}

#guesses {
    color: orange;
    margin-bottom: 30px;    
}

#lettersGuessed {
    color: blue;
}

#spaces {
    margin-bottom: 30px;
}
